body {
    font-family: "Nunito Sans", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #646464;
    overflow-x: hidden;
}

body.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #0036aa;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #00026d;
    outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
}

.text-primary {
    color: #0036aa !important;
}

.panel-title {
    cursor: pointer !important;
}

.text-theme-2 {
    color: #00026d !important;
}

.bg-theme {
    color: #fff;
    background-color: #0036aa !important;
}

.bg-black {
    color: #fff;
    background-color: #000 !important;
}

.bg-theme-2 {
    color: #fff;
    background-color: #00026d !important;
}

.bg-red-marker {
    background: #ea4335;
    color: #fff;
}

.font-large {
    font-size: large;
}

.back-image-home {
    z-index: -1;
    position: fixed;
}

.scroll-section-80 {
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll-section-75 {
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll-section-70 {
    max-height: 70vh;
    overflow-y: scroll;
}

.scroll-section-30 {
    max-height: 30vh;
    overflow-y: scroll;
}

.scroll-section-20 {
    max-height: 20vh;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0.5rem !important;
}

::-webkit-scrollbar-track {
    background: transparent !important;
    border-radius: 10px !important;
}

 ::-webkit-scrollbar-thumb {
    background: #0036aa !important;
    border-radius: 10px !important;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #00026d !important;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: #0036aa !important;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #00026d !important;
}

.scroll-trash-ticket {
    height: 140px !important;
    overflow-y: scroll !important;
    display: block;
}

.collection-info {
    z-index: 1;
    position: absolute;
    top: 5rem;
    left: 1rem;
    height: 80vh;
    width: 18rem;
}

.RequestList-displayer {
    z-index: 2;
    position: absolute;
    top: 5rem;
    left: 1rem;
}

.pointer {
    cursor: pointer !important;
}

.font-small {
    font-size: small;
}

.font-smaller {
    font-size: smaller;
}

.card-image {
    padding: 0.5rem !important;
    height: 6rem;
    position: relative;
    left: -1.5rem;
    top: 1.5rem;
}

.disabled {
    filter: grayscale();
}

.enabled {
    filter: none;
}

.wrapper {
    display: flex;
    width: 100%;
}

.user-sidebar {
    width: 280px;
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    z-index: 100;
    background: #0036aa;
    color: #fff;
    transition: all 0.3s;
}

.catalog {
    width: 80vw;
    left: 280px;
    position: relative;
    overflow-y: auto;
    height: 85vh;
    top: 70px;
}

.toastInfo {
    position: absolute;
    z-index: 900;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.trash-card {
    margin: 0.5rem;
    -webkit-box-shadow: 0px 20px 54px -20px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 20px 54px -20px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 20px 54px -20px rgba(0, 0, 0, 0.43);
}

.trash-card .card-header {
    color: #fff;
    background: #0036aa;
    cursor: pointer;
    font-weight: bold;
    height: 8rem;
    border-radius: 0.5rem !important;
}

.trash-card .card-body {
    height: 8rem;
    border: #0036aa 1px solid;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.card-check {
    font-size: 2rem;
    color: #0036aa;
    cursor: pointer;
    position: relative;
    left: 70%;
}

.trash-name {
    font-size: 1.1rem;
}

@media (max-width: 1170px) {
    .login-logo {
        display: none;
    }
}

.navbar-brand .logo {
    height: 30px;
}

.w-5 {
    width: 5% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.w-25 {
    width: 25% !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important;
}

.i-stats {
    background-color: #0036aa;
    height: 100px;
    width: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i-stats .icon {
    font-size: 4rem;
}

@media only screen and (max-width: 900px) {
    .hideOn900 {
        display: none !important;
    }
    .user-sidebar {
        width: 100%;
        overflow: auto;
        height: calc(100% - 100px);
        top: auto;
        bottom: 50px;
    }
    .catalog {
        width: 100%;
        left: 0;
        height: 77vh;
    }
    .sidebar-displayer {
        width: 100%;
        overflow: auto;
        height: 50px;
        top: auto;
        bottom: 0;
        position: fixed;
        z-index: 999;
        background: #0036aa;
        color: #fff;
        transition: all 0.3s;
    }
}

@media only screen and (min-width: 900px) {
    .sidebar-displayer {
        display: none;
    }
    .showOn900 {
        display: none !important;
    }
}

.form-control:focus {
    border-color: #00026d !important;
    box-shadow: 0 0 0 0.2rem #0036aa70 !important;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #0036aa70 !important;
}

.page-item.active .page-link {
    background-color: #0036aa !important;
    border-color: #0036aa !important;
    color: #fff !important;
}

.page-link {
    color: #0036aa !important;
}

.nav a {
    color: #000;
}

.nav a:hover {
    color: #00026d !important;
}

.active {
    color: #00026d !important;
}

::-moz-selection {
    background: #0036aab0;
}

::selection {
    background: #0036aab0;
    color: #fff;
}

#snackbar {
  visibility: hidden !important; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible !important; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.ticket-img {
    position: absolute;
    right: 10%;
    left: 10%;
    height: auto;
    width: 80%;
    display: none;
    margin-top: 1em;
}

a:hover .ticket-img  {
    display: block;
    z-index: 2000;
}

.m-0a {
    margin: 0 auto;
}

table thead th {
    vertical-align: middle !important;
}